/* global color  */
:root {
    --primary-color: #6C8FA9;
    --secondary-color: #52738C;
    --tertiary-color: #4C697A;
    --quaternary-color: #CDDAE2;
    --grey0: #DBDBDB;
    --grey1: #F2F2F2;
    --grey2: #A6A6A6;
    --grey3: #AFABAB;
    --grey4: #A5A5A5;
    --grey5: #737373;
    --grey6: #c0c0c0;
    --content-width: 70vw;
}

/**
* text collection
*/
.text-title {
    font-size: 1.3em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.text-subtitle {
    font-size: 1.2em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.text-bold {
    font-weight: 600;
}

.text-body {
    font-size: 1.1em;
}

.text-body-special {

}

.text-hint{
    font-size: 0.8em;
}

.text-margin {
    margin-top: 1vh;
}

/* container format */
.container {
    display: flex;
    height: 93vh;
    flex-direction: column;
}
.main-container{
    display: flex;
    flex: 1;
    width: var(--content-width);
    margin: 0 auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin: 5vh auto;
    align-items: flex-start;
}

.text-input{
    width: 100%;
    outline: none;
    background-color: color-mix(in srgb, var(--grey1) 60%, transparent);
    border: none;
    height: 2em;
    margin: 1vh 0 1vh 0;
}